.details {
  display: flex;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: white;
  margin-bottom: 10px;
  width: 30%;
  border: rgb(135, 219, 32) solid 1px;
}
.user-details {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  justify-content: center; /* Center horizontally */
}
.user-image-main {
  margin-right: 10px;
  height: 100%;
  display: flex;
  border-right: 1px rgb(179, 176, 176) dotted;
}
.main-name-span {
  word-wrap: break-word;
}
.user-detail-main {
  width: 50%;
}
